<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}" >
<head>
    <meta charset="UTF-8">
    <title>My index Page</title>
</head>
<body>
    <div class="container mySpace">
        <div class="jumbotron">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur cum fugiat in ipsa
                laudantium neque nobis. Ipsam labore, maiores nostrum omnis rem repudiandae soluta voluptatem. Cum
                dolore quos voluptas.
            </div>
            <div>Adipisci architecto, consequuntur deleniti dolores dolorum ducimus eveniet mollitia officiis quae quos.
                Ducimus eius et ipsum iure laboriosam laborum officia quae quibusdam quidem, quis quod rem sunt ullam.
                Assumenda, soluta!
            </div>
            <div>A ab dolores fuga laborum obcaecati quidem sed suscipit tenetur voluptatem? Asperiores at dolorem
                ducimus eius, eligendi esse exercitationem fugit hic, modi nam nesciunt officia, placeat qui quidem
                quisquam sunt!
            </div>
            <div>Accusantium alias atque blanditiis dolor dolores ducimus, earum ex excepturi fuga iste iure magnam
                maxime molestiae necessitatibus nesciunt nulla odio optio perferendis porro quasi reiciendis
                reprehenderit similique ullam veniam voluptatibus!
            </div>
            <div>Culpa dolore, ex id laudantium maiores nisi possimus quasi quis reiciendis reprehenderit. Ab at
                consectetur error expedita magnam modi odio quaerat saepe sit veniam! Culpa dolor est ipsum laborum
                quisquam.
            </div>
        </div>

    </div>
</body>
</html>